DATABASE_URL="file:./dev.db"
AUTH_SECRET=""
AUTH_TRUST_HOST="true"
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
SEED_ADMIN_NAME=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="FirstClass Immobilier <info@firstclassimmo.com>"
SMTP_TO_CONTACT="info@firstclassimmo.com"
NEXT_PUBLIC_WHATSAPP_PHONE="2250584212929"
NEXT_PUBLIC_PHONE="+225 25 22 00 11 03"
NEXT_PUBLIC_MOBILE="+225 07 69 00 45 57"
NEXT_PUBLIC_EMAIL="info@firstclassimmo.com"
NEXT_PUBLIC_ADDRESS="Abidjan, Cocody Angré 7ème Tranche"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_FACEBOOK_URL=""
NEXT_PUBLIC_INSTAGRAM_URL=""
NEXT_PUBLIC_LINKEDIN_URL=""
NEXT_PUBLIC_YOUTUBE_URL=""
NEXT_PUBLIC_TIKTOK_URL=""
